body{
    text-align: center;
}

#intro-section{
    background:url(/images/background/h_img.jpg) center center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

